{% extends 'base.html.twig' %}

{% block title %}Edit Material{% endblock %}

{% block body %}
    <h1>Edit Material</h1>

    {{ include('material/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('material_index') }}">back to list</a>
    <a class="btn btn-dark" href="{{ path('homepage') }}">Back to /</a>
{% endblock %}
