{% extends 'base.html.twig' %}

{% block title %}Edit UnitOfMeasure{% endblock %}

{% block body %}
    <h1>Edit UnitOfMeasure</h1>

    {{ include('unit_of_measure/_form.html.twig', {'button_label': 'Update'}) }}

    <a class="btn btn-primary" href="{{ path('unit_of_measure_index') }}">back to list</a>

    <a class="btn btn-dark" href="{{ path('homepage') }}">Back to /</a>
{% endblock %}
