{% extends 'base.html.twig' %}

{% block title %}Alteris{% endblock %}

{% block body %}
    <h1>Links ✅</h1>
    <ul class="list-unstyled">
        <li> <code><a href="{{ path('material_index') }}">Materials</a></code></li>
        <li> <code><a href="{{ path('material_group_index') }}">Materials Group</a></code></li>
        <li> <code><a href="{{ path('unit_of_measure_index') }}">Units of measure</a></code></li>
    </ul>
{% endblock %}
