{% extends 'base.html.twig' %}

{% block title %}MaterialGroup index{% endblock %}

{% block body %}
    <h1>MaterialGroup index</h1>
    <hr>
    {{ htmlTree|raw }}
    <br />
    <br />

    <a class="btn btn-primary" href="{{ path('material_group_new') }}">Create new</a>
    <a class="btn btn-dark" href="{{ path('homepage') }}">Back to /</a>
{% endblock %}
